

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ul li a {
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-style: normal;
    font-size: 15px;
}

.Titulo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-style: oblique;
    font-weight: bold;
}

.Seccion__Descripcion {
    font-size: 25px;
    font-style: italic;
}

.Musica__Titulos {
    font-size: 30px;   
}

.Musica__Outtakes {
    font-size: 20px;   
}

#text_contact {
    font-size: 15px;
}

.Footer__Texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}